/* two some place page 1 css */
/* css 작성 시작 오후 6:25분 */
/* css 아예 새로 다시 작성 시작 : 9:12 */
body {font-family: "Noto Sans KR", sans-serif;}
header {
    width: 1440px;
    margin: 0 auto;
    padding-top: 30px;
}
header > h1 {
    display: inline-block;
}
header .gnb,
header .side,
header .side .memu_See {
    display: inline-block;
    line-height: 20px;
}
header h1 {margin:0 165px 0 0;}
header .gnb {}
header .gnb > a {
    font-size: 0.875rem;
    letter-spacing: -0.4px;
    margin-left: 44px; font-weight: 700;
    line-height: 34px;
} 
header .gnb a:nth-child(1) {margin-left: 0;}
header .side {
    margin-left: 165px;
    height: 30px;
}
header .side .langbox {
    font-size: 0.875rem;
    letter-spacing: -0.4px;
    padding: 5px 24px;
    border: 1px solid #000;
    border-radius: 50px;
    background-color: #fff;
    display: inline-block;
    line-height: 20px;
}
header .side .memu_See img {
    display: inline-block;
    width: 23px; height: 23px;
    line-height: 20px;
    margin-left: 20px;
}
/* main 영역 시작 */
main {
    width: 1440px;
    margin: 0 auto;
}
main .text_wrap {
    display: inline-block;

}
main .text_wrap .main_tit h2 {
    display: inline-block;
    margin-top: 60px;
    font-size: 5.625rem;
    font-weight: 900;
    letter-spacing: -0.4px;
}
main .text_wrap .main_tit .txt_side_box {
    display: inline-block;
    width: 20px; height: 20px;
    background-color: #D9194B;
    margin-left: 20px;
}
main .text_wrap p.txt_top {
    margin-top: 90px;
    margin-bottom: 18px;
    font-weight: 700;
    letter-spacing: -0.4px;
}
main p:nth-child(3),
main p:nth-child(4),
main p:nth-child(5) {
    margin-top: 76px;
    font-size: 1.875rem;
    font-weight: 900;
    
}
main p:nth-child(3) {margin-top: 0;}
main .img_wrap {
    width: 100%;
    display: inline-block;
    text-align: right;
    background-color: pink;

}
main .img_wrap .img_1,
main .img_wrap .img_2,
main .img_wrap .img_3 {
    display: inline-block;
    width: 100px;
}
main .img_wrap .img_2,
main .img_wrap .img_3 {
    margin-left: 300px;
}